.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 70%;
}
.socials{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: fixed;
    left: 90px;

    hr{
        height: 350px;
    }
}
.logo{
    font-family: Fredoka;
    font-size: 18px;
    text-shadow: 1px 1px grey;

}
.navigation{

    ul{
        display: flex;
        gap: 30px;
        list-style: none;
        font-size: 14px;

    }
}