


.works{
    margin: auto;
    width: 70%; 
    padding-top: 80px;
}
.works-projects{
     display:flex;
     justify-content:space-between;
      align-items:center;
      margin-bottom: 30px;
}


.skills-section{
margin-top: 50px;
}
.project-text{
    display:flex;
    align-items:center;
    gap:15px;


    hr{
        width:250px;
        height: .1px;
    }
    .skills-line{
        width:150px
    }
}

.works-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-evenly;
    height: 50vh;
    overflow: hidden;
}
.works-cards-open{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-evenly;
    
}
.work-skill{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.work-skill img{
    width: 400px;
}
.work-skill-component{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    flex-direction: row-reverse;
}
.view-all{
    cursor: pointer;
    font-size: 20px;
}
@media  (max-width:840px){

}
@media(max-width:440px){
    .project-text hr{
        width: 140px;
    }
    .skill-image{
        display: none;
    }
    .work-skill-component{
        justify-content: center;
    }
    .works-projects{
        flex-direction: column;
    }
    .works-cards{
        height: 45vh;
    }
}