.contacts{
   
    margin: auto;
    width: 70%;
    padding-top: 80px;
}
.form-and{
    /* background-color: aqua; */
    max-width: 400px;
    input{
        background: transparent;
        max-width: 100%;
        padding: 5px;
        outline: transparent;
        color: var(--text-color);
        width: 220px;
        margin-bottom: 10px;
    }
}
.name-email{
display: flex;
gap: 10px;
}
.title input{
    width: 100%;
    box-sizing: border-box;
}
.textarea textarea{
    width: 100%;
    box-sizing: border-box;
    background-color: var(--bg-color);
    color: var(--text-color);
}