.contacts{
   
    margin: auto;
    width: 70%;
    padding-top: 80px;
    
}
.contact-form{
   display: flex;
   justify-content: space-between;
   

    
}
.form-and{
    width: 400px;

    input{
        background-color: var(--bg-color);
        max-width: 100%;
        padding: 5px;
        outline: none;
        color: var(--text-color);
        width: 220px;
        margin-bottom: 10px;
        border:0.1px solid var(--grey-color);
        border-radius: 5px;
    }
}
.name-email{
display: flex;
gap: 10px;
}
.title input{
    width: 100%;
    box-sizing: border-box;
}
.textarea textarea{
    width: 100%;
    box-sizing: border-box;
    background-color: var(--bg-color);
    color: var(--text-color);
}
.response{
    color:red
}
.bad-response{
    color:red
}
@media (max-width:840px){

}
@media (max-width:440px){
    .name-email{
        display: flex;
        flex-direction: column;
    }
}