.hero{
    display: flex;
    justify-content: space-between;
    gap:20px;
    align-items: center;
    margin: auto;
    width: 70%;
    height: 80vh;
    padding: 20px 0px;
    position: relative;
    padding-top: 30px;
}

/* .hero-content .hero-image{
    flex: 1;
    z-index: 5;
} */
 .hero-content{
    position: absolute;
    top: 40%;
    z-index: 5;
 }
.hero-content h1{
    font-size: 30px;
    
    
}
.content-name{
    font-size:58px;
}
.content-name-span{
    font-size:55px;
}

.typewritter{
    color:red;
    font-size: 50px;
    z-index: 10;
}

.hero-img{
    position: absolute;
    top: 0%;
    right: 10%;
    opacity:.7;
}

@media (max-width:840px){
   .hero{
       flex-direction: column
   }

.hero-img{
  position: absolute;   
   opacity: .6;  
   right: 0%;  
  width: 650px;
}
.hero-content{
   z-index: 5;
   position: absolute;
   top: 45%;
   font-size: 25px;
}
.content-name{
    font-size:58px;
    /* text-align:center; */
}
.content-name-span{
    font-size:55px;
}

.typewritter{
    color:red;
    background-color:rgba(209, 209, 209, 0.385);
    text-align: center;
    font-size: 55px;
}

}  
@media (max-width:440px){
   

.hero-img{      
   position: absolute;
   top: 6%;
   right: -15%;
    opacity: .7;    
    width: 410px;
}
.hero-content{
    z-index: 5;
    position: absolute;
    top: 35%;
    font-size: 25px;
}
.content-name{
    font-size:38px;
    text-align:center;
}
.content-name-span{
    font-size:45px;
}

.typewritter{
    color:red;
    background-color:rgba(209, 209, 209, 0.185);
    font-size: 25px;
}
}
