.project-card{
   width: 200px;
     border: .01px solid var( --grey-color);
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding-bottom: 20px;
}

.project-image{
    width: 200px;
    height:200px;
    overflow: hidden;
}

.project-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.project-tools{
    padding: 3px;
    border-left: transparent;
    border-right: transparent;
    border-top: .01px solid var( --grey-color);
    border-bottom: .01px solid var( --grey-color);
}
.project-details {
    margin-left: 5px;
}
.project-details button{
    width: 90px;
    padding: 5px 10px;
    margin-right: 5px;
    border-radius: 5px;
    border:.01px solid var(--grey-color);
    cursor: pointer;
    background-color: transparent;
    color: var(--a-color);

}